body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #79b791;
  }
  
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  form {
    width: 300px;
    /* height: 215px; */
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Labels and Inputs */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 92%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-bottom: 15px;
  }
  
  /* Button */
  input[type="button"] {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    margin-left: 107px;
    margin-top: 5px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  input[type="button"]:hover {
    background-color: #3e8e41; /* Green shade */
  }

  